.acme-navbar-text{
  color: white;
}

.navbar-inverse  {
    background-color: #CCCDFD;
    border-color: #CCCDFD;
    padding : 5px 0 5px 0;
    color: #0b0a4a;
}

.navbar-inverse .navbar-brand {
    color: #152A8A;
//    padding: 10px 15px 10px 15px;
}

.navbar {
  margin-bottom: 0;
}

.footer  {
    height: 40px;
    background-color: #CCCDFD;
    border-color: #CCCDFD;
    padding-top: 10px;
    font-size : 1.1em;
}
