
.navbar-inverse  {
    background-color: $background-medium-color;
    border-color: $background-medium-color;
    padding : 5px 0 5px 0;
    color: $background-dark-color;
}

.navbar-inverse .navbar-brand {
    color: #152A8A;
}

.navbar {
  margin-bottom: 0;
}

.footer  {
    height: 40px;
    background-color: $background-medium-color;
    border-color: $background-medium-color;
    padding-top: 10px;
    font-size : 1.1em;
    color: $background-dark-color;
}
